extends ../layout/layout

block title
	title Privacy Policy - #{appName}

block content

	.side-space
		.section.page-title
			h1 Privacy Policy
		.section.card
			| Your personal information is used just for login.
