extends ../layout/layout

block title
  title Help - #{appName}

block content

  .side-space
    .section.page-title
      h1 Help

    .section
      .sub-section.card
        span How to deactivate my account?&nbsp;
        a(href='/users/deactivate') click
      .sub-section.card
        | email:&nbsp;
        a(href='mailto:support+rapixel@raysoda.com') support+rapixel@raysoda.com
        br
        | twitter:&nbsp;
        a(href='https://twitter.com/drypot', target='_blank') https://twitter.com/drypot
        | &nbsp;(developer's personal)
