extends ../layout/layout

block title
  title Help - #{appName}

block content

  .side-space
    .section.page-title
      h1 Help

    .section
      .sub-section.card
        span How to deactivate my account?&nbsp;
        a(href='/users/deactivate') click
      .sub-section.card
        | email:&nbsp;
        -var email = 'support+' + appName.toLowerCase() + '@raysoda.com'
        a(href='mailto:' + email)= email 
