extends ../layout/layout

block title
  title Services - #{appName}

block content

  .side-space
    .section.page-title
      h1 Services

    .section.card
      a(href="http://raysoda.com", target="_blank") http://raysoda.com
      br
      a(href="https://rapixel.com", target="_blank") https://rapixel.com
      br
      a(href="https://osoky.com", target="_blank") https://osoky.com
      br
      a(href="https://drypot.com", target="_blank") https://drypot.com
      br
