extends ../layout/layout

block title
	title Reset Password - #{appName}

block content
	script
		init.add(function () {
			userl.initResetReq();
		});

	.side-space
		.section.page-title
			h1 Reset Password

		if query.hasOwnProperty('done')
			.section.card
				| Check your mailbox.
		else
			form#form.section
				.sub-section
					.form-row
						label.control-label Email
						input.input-with-feedback(name="email", type="text")
				.sub-section
					.send-panel
						button.btn.btn-primary(name='send') Send
					.sending-panel.hide
						button.btn.btn-default.disabled(name='sending') Sending
