extends ../layout/layout

block title
	title Login - #{appName}

block content
	script
		init.add(function () {
			userl.initLogin();
		});

	.side-space
		if query.hasOwnProperty('newuser')
			.section.page-title
				h1 Thank you

			.section.card
				| Thank you for registering.
				br
				| Your account has been successfully created.
				br
				| You can now login with your email and password.

		.section.page-title
			h1 Login

		form#form.section
			.sub-section
				.form-row
					label.control-label Email
					input.input-with-feedback(name="email", type="text")
				.form-row
					label.control-label Password
					input.input-with-feedback(name="password", type="password")
				.form-row
					label Remember
					input(name="remember", type="checkbox")
			.sub-section
				.send-panel
					button.btn.btn-primary(name='send') Send
				.sending-panel.hide
					button.btn.btn-default.disabled(name='sending') Sending

		.section
			a.btn.btn-success(href='/users/reset-req') Reset Password