body {
	//padding-top: 50px;
	padding-bottom: 40px;
}

.page-header {
	border: 0;
	margin-bottom: 10px;
	//margin-left: 8px;
}

.submit-group {
	margin-top: 25px;
}

.photos {
	margin-top:20px;
	//margin-bottom:25px;

	.img {
		margin: 0px 20px 20px 0px;
		float: left;
	}
	.desc {
		margin: 0px 20px 20px 0px;
		float: left;
	}
}

.photo {
	img {
		max-width: none;
	}
}