body {
	//padding-top: 50px;
	padding-bottom: 40px;
}

.limit-width {
	max-width: 640px;
}

.side-space {
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

.bottom-space {
	margin-bottom: 30px;
}

.page-footer {
	margin-top: 45px;
	border-top: 1px solid #eeeeee;
	padding-top: 10px;
	color: #888;
	a {
		color: inherit;
	}
	ul {
		margin: 0px;
		li {
			padding-left:0px;
			padding-right:9px;
		}
	}
}

.page-header {
	border: 0;
	margin-bottom: 10px;
	//margin-left: 8px;
}

.site-title {
	margin-top: 60px;
	margin-bottom: 51px;
	h1 {
		margin-bottom: 10px;
		font-size: 63px;
	}
	p {
		font-size: 21px;
	}
}

.update {
	margin-bottom: 22px;
}

p.card {
	font-size: 18px;
	//font-weight: 500;
	line-height: 1.5;
}

.photos {
	margin:20px 0px 25px 0px;
	.photo {
		color: #888;
		margin-bottom: 15px;
		img {
			margin-bottom: 0px;
		}
		.info {
			margin-left:8px;
			span {
				margin-right:15px;
			}
		}
		a {
			color: inherit;
		}
	}
}

body.photo-view {
	background-color: #222222;

	.photo {
		margin: 0px;
		margin-bottom: 8px;
		img {
			max-width: none;
		}
	}
	.extra {
		color: #888;
		a {
			font-size: 18px;
			color: #e0e0e0;
		}
		.name {
			margin: 0px 10px 24px 12px;
			span {
				margin-right: 15px;
			}
		}
		.comment {
			margin: 0px 10px 24px 12px;
		}
		.footer {
			margin: 0px 10px 24px 12px;

		}
		.action {
			margin: 45px 10px 24px 12px;
			button#del-btn {
				margin-left: 15px;
			}
		}
		.home {
			margin: 55px 10px 8px 12px;
			a, a.hover {
				font-size: 28px;
				font-weight: 500;
			}
		}
	}
}

form {
	.form-row {
		margin-bottom:10px;
		label {
			display:block;
		}
	}
	.form-btns {
		margin-top: 25px;
		margin-bottom: 20px;
	}
	.file-group {
		.col {
			padding: 0px;
			margin-right: 5px;
		}
		.files {
			.file {
				margin-bottom: 5px;
				input[type=file] {
					width:100%;
				}
			}
		}
	}
	p.error {
		display: block;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.alert {
		margin-bottom:5px;
	}
	textarea {
		font-family: monospace;
	}
	.form-comments {
		margin-top: 50px;
	}
}

.pager {
	margin-left: -6px;
	text-align: left;
}

.pagination {
	margin: 0px;
	margin-left: -1px;
}

.btn-mini {
	padding: 2px 6px;
	font-size: 12px;
}

.btns {
	margin-top: 25px;
	margin-bottom: 30px;
}

pre.error-report {
	margin: 0px;
	margin-top:50px;
	margin-bottom:60px;

	padding: 0px;
	padding-top: 5px;

	border: 0;
	border-top: 1px solid #eeeeee;

	font-family: monospace;
	font-size: 14px;
	background-color: white;
	white-space: nowrap;
}

.modal-body {
	p {
		white-space: nowrap;
		overflow: scroll;
	}
}