body {
	//padding-top: 50px;
	padding-bottom: 40px;
}

.limit-width {
	max-width: 570px;
}

.side-space {
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

.bottom-space {
	margin-bottom: 30px;
}

.footer {
	margin-top: 45px;
	border-top: 1px solid #eeeeee;
	padding-top: 10px;
	color: #888;
	a {
		color: inherit;
	}
	ul {
		margin: 0px;
		li {
			padding-left:0px;
			padding-right:9px;
		}
	}
}

.jumbotron {
	padding: 30px 0px 30px 0px;
	margin-bottom: 0px;
	background-color: white;
	h2 {
		font-size: 49px
	}
	p {
		margin-top:25px;
	}
}

.profile {
	margin-bottom: 50px;
	.profile-text {

	}
	.profile-actions {
		margin-top: 20px;
	}
}

.page-header {
	border: 0;
	margin-bottom: 10px;
	//margin-left: 8px;
}

.photos {
	margin:20px 0px 25px 0px;
	.photo {
		color: #888;
		margin-bottom: 15px;
		.img {
			margin-bottom: 0px;
		}
		.info {
			margin-left:8px;
			span {
				margin-right:15px;
			}
		}
		a {
			color: inherit;
		}
	}
}

body.photo-view {
	background-color: #222222;
	color: #888;
	font-size: 16px;

	a {
		font-size: 18px;
		color: #e0e0e0;
	}

	.photo {
		margin: 0px;
		margin-bottom: 8px;
		img {
			max-width: none;
		}
	}
	.info {
		margin: 0px 10px 24px 12px;
		span {
			margin-right: 15px;
		}
	}
	.comment {
		margin: 0px 10px 24px 12px;
	}
	.photo-footer {
		margin: 0px 10px 24px 12px;

	}
	.action {
		margin: 45px 10px 24px 12px;

	}
	.home {
		margin: 55px 10px 8px 12px;
		a, a.hover {
			font-size: 28px;
			font-weight: 500;
		}
	}
}

form {
	.form-row {
		margin-bottom:10px;
		label {
			display:block;
		}
	}

	.form-actions {
		margin-top: 25px;
		margin-bottom: 20px;
	}
	.file-group {
		.col {
			padding: 0px;
			margin-right: 5px;
		}
		.files {
			.file {
				margin-bottom: 5px;
				input[type=file] {
					width:100%;
				}
			}
		}
	}
	p.error {
		display: block;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.alert {
		margin-bottom:5px;
	}
	textarea {
		font-family: monospace;
	}
}

.pager {
	margin-left: -6px;
	text-align: left;
}

.pagination {
	margin: 0px;
	margin-left: -1px;
}

.btn-mini {
	padding: 2px 6px;
	font-size: 12px;
}

