extends ../layout/layout

block title
  title Login - #{appName}

block content
  script.
    init.add(function () {
      userl.initLogin();
    });

  if query.hasOwnProperty('newuser')
    .page-title
      h1 Thank you

    .section
      | Thank you for registering.
      br
      | You can login with your email and password.

  else
    .page-title
      h1 Login

  form.main
    .sub-section
      .form-group
        label.control-label Email
        input.form-control(name="email", type="text")
      .form-group
        label.control-label Password
        input.form-control(name="password", type="password")
      .form-group
        label Remember
        br
        input(name="remember", type="checkbox") 
    .sub-section
      button.btn.btn-primary(name='send', data-loading-text='Sending') Send

  .section
    a(href='/users/reset-pass') Reset Password