extends ../layout/layout

block title
  title Update Image - #{appName}

block content

  script.
    $(function() {
      imagel.initUpdate(!{JSON.stringify(image)});
    });

  .section.page-title
    h1 Update Image

  .section
    form.main
      .sub-section
        .form-group
          label.control-label Image
          .panel.panel-default
            .panel-body
              input(type='file', name='files', multiple='multiple')
          if appType == 'drypot'
            p.help-block
              | Only SVG files.
      .sub-section
        .form-group
          label.control-label Comment
          textarea.form-control(name='comment', rows=7) #{image.comment}
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='Sending') Update

  .section
    | IE 10 or above required.
    br
    | You must be copyright owner.
    br
    if appType == 'rapixel'
      | Image must be larger than 3840x2160 pixels.
      br
      | Image will be cropped to 16:9 automatically.
      br
      | Recommended sizes are 5120x2880 or 3840x2160.
      br
      | Max file size is 10MB.
 