extends ../layout/layout

block title
	title Login - #{appName}

block content
	script.
		init.add(function () {
			userl.initLogin();
		});

	.side-space
		if query.hasOwnProperty('newuser')
			.section.page-title
				h1 Thank you

			.section.card
				| Thank you for registering.
				br
				| Your account has been successfully created.
				br
				| You can now login with your email and password.

		.section.page-title
			h1 Login

		form#form.section
			.sub-section
				.form-group
					label.control-label Email
					input.form-control(name="email", type="text")
				.form-group
					label.control-label Password
					input.form-control(name="password", type="password")
				.form-group
					.checkbox
						label 
							input(name="remember", type="checkbox") 
							| Remember
			.sub-section
				.send-panel
					button.btn.btn-default(name='send') Send
				.sending-panel.hide
					button.btn.btn-default.disabled(name='sending') Sending

		.section
			a(href='/users/reset-step1') Reset Password