extends ../layout/layout

block title
	title Reset Password - #{appName}

block content

	.side-space
		.section.page-title
			h1 Reset Password

		if query.hasOwnProperty('done')
			.section.card
				| Check your mailbox.
		else
			script.
				init.add(function () {
					userl.initResetReq();
				});
				
			form#form.section
				.sub-section
					.form-group
						label.control-label Email
						input.form-control(name="email", type="text")
				.sub-section
					button.btn.btn-primary(name='send', data-loading-text='Sending') Send
