.container {
  max-width: 640px;
  text-align: center;
}
.side-space {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.card {
  font-size: 18px;
  line-height: 1.5;
}
.link-set a {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 14px;
}
.section {
  margin-bottom: 50px;
}
.sub-section {
  margin-bottom: 35px;
}
.page-title {
  margin-top: 60px;
}
.page-title a {
  color: inherit;
}
.page-title a:hover {
  text-decoration: none;
}
.site-title h1 {
  margin-bottom: 10px;
  font-size: 53px;
}
.site-title p {
  font-size: 21px;
}
.update {
  margin-top: 20px;
}
.page-footer {
  margin-bottom: 60px;
}
.page-footer a {
  color: inherit;
}
.page-footer ul {
  margin: 0px;
}
.page-footer ul li {
  padding-left: 0px;
  padding-right: 9px;
}
.page-footer .home {
  margin: 15px;
}
.page-footer .home a,
.page-footer .home a.hover {
  font-size: 28px;
  font-weight: 500;
}
.pager-prev {
  font-size: 18px;
  line-height: 1;
}
.images .image {
  margin-bottom: 30px;
}
.images .image img {
  margin-bottom: 2px;
}
.images .image .info a {
  color: inherit;
}
@media (max-width: 768px) {
  .images .image {
    margin-bottom: 25px;
  }
}
.pager-next {
  font-size: 18px;
  line-height: 1;
}
body.image-view {
  text-align: center;
}
body.image-view img.low-res {
  cursor: pointer;
  max-width: 100%;
}
body.image-view img.hi-res {
  display: block;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  max-width: none;
}
body.image-view .image-info {
  margin-top: 3px;
}
body.image-view .image-info span {
  padding-left: 10px;
  padding-right: 10px;
}
body.image-view .image-info a {
  color: inherit;
}
form {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 50px;
}
form .form-row {
  margin-bottom: 10px;
}
form .form-row label {
  display: block;
}
form .file-group .files .file .hidden-input {
  position: absolute;
  top: -999px;
  width: 0px;
  height: 0px;
}
form .file-group .files .file button {
  width: 60%;
}
form p.error {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .alert {
  margin-bottom: 5px;
}
form textarea {
  font-family: monospace;
}
@media (max-width: 480px) {
  form {
    width: 100%;
    margin-left: 0%;
  }
}
pre.error-report {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  border: 0;
  border-top: 1px solid #eeeeee;
  text-align: left;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  white-space: nowrap;
}
.modal-body p {
  white-space: nowrap;
  overflow: scroll;
}
