extends ../layout/layout

block title
	title Upload - #{appName}

block content

	.side-space
		.section.page-title
			h1 Upload

		if hours > 0
			.section.card
				| One photo a day.
				br
				| You can upload after #{hours} hours.

		else
			script
				init.add(function() {
					photol.initNewForm();
				});

			form#form.section
				.sub-section
					.form-row.file-group
						.files
					.form-row
						label Comment
						textarea(name='comment', rows=7)
				.sub-section
					.send-panel
						button.btn.btn-primary(name='send') Send
					.sending-panel.hide
						button.btn.btn-default.disabled(name='sending') Sending

			.section.card
				| Image must be larger than 3840x2160 pixels.
				br
				| Image will be cropped to 16:9 automatically.
				br
				| Recommended sizes are 5120x2880 or 3840x2160.
				br
				| Max file size is 10MB.
				br
				| You must be copyright owner.
