body {
  font-family: serif;
  font-size: 18px;
  color: #333333;
}
.black-link a {
  color: #333333;
}
.section {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
}
.sub-section {
  margin-bottom: 30px;
}
.page-title {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  margin-top: 55px;
}
.page-title a {
  color: #333333;
}
.page-title h1 {
  font-size: 41.4px;
}
.page-title a:hover {
  text-decoration: none;
}
.site-title {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  margin-top: 55px;
}
.site-title a {
  color: #333333;
}
.site-title h1 {
  font-size: 41.4px;
}
.site-title a:hover {
  text-decoration: none;
}
.site-title h1 {
  font-size: 57.6px;
  margin-bottom: 35px;
}
.site-title .desc {
  font-size: 21.6px;
}
.page-footer {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.page-footer a {
  color: #333333;
}
.page-footer ul {
  margin: 0px;
}
.page-footer ul li {
  font-size: 14.4px;
  padding: 0 5px;
}
.page-footer .home {
  margin-top: 15px;
}
.page-footer .home a {
  font-size: 36px;
  font-weight: 500;
}
.top-links {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
}
.top-links a {
  padding-left: 10px;
  padding-right: 10px;
}
.news {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  margin-top: 50px 0.4;
}
.pager-prev {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  line-height: 1;
}
.pager-next {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  line-height: 1;
}
.images {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  padding-left: 0px;
}
.images a {
  color: #333333;
}
.images .card {
  margin-bottom: 45px;
}
.images .card img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .images .card {
    margin-bottom: 20px;
  }
}
.image-view {
  text-align: center;
}
.image-view img.low-res {
  cursor: pointer;
  max-width: 100%;
}
.image-view img.hi-res {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 10;
  max-width: none;
}
.image-view img.svg {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.image-info {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  margin-top: 15px;
}
.image-info a {
  color: #333333;
}
.image-info .uname {
  margin-bottom: 20px;
  font-size: 28.8px;
}
.image-info .comment {
  margin-bottom: 20px;
}
.image-info .fname {
  margin-bottom: 5px;
  font-size: 14.4px;
  color: #b3b3b3;
}
.image-info .cdate {
  margin-bottom: 5px;
  font-size: 14.4px;
  color: #b3b3b3;
}
form.main {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px 8px;
  text-align: center;
  width: 384px;
}
form.main .file-group .files .file .hidden-input {
  position: absolute;
  top: -999px;
  width: 0px;
  height: 0px;
}
form.main .file-group .files .file button {
  width: 100%;
}
form.main .file-group .files .file input[type=file] {
  display: inline-block;
}
form.main textarea {
  font-family: monospace;
}
@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
pre.error-report {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  border: 0;
  border-top: 1px solid #eeeeee;
  text-align: left;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  white-space: nowrap;
}
.modal-body p {
  white-space: nowrap;
  overflow: scroll;
}
