extends ../layout/layout

block title
  title Company - #{appName}

block content

  .side-space
    .section.page-title
      h1 Company

    .section.card
      | RaySoda, Inc.
      br
      | Founded 2003.03.01
      br
      | Business Registration Number 211-87-29758
      br
      | Korea
      br
      br
      | Heung IL Lee, CEO
      br
      br
      | Kyuhyun Park, Developer
      br
      a(href='https://github.com/drypot/about', target='_blank') https://github.com/drypot/about
