extends ../layout/layout

block title
  title Help - #{appName}

block content

  .page-title
    h1 Help

  .section
    .sub-section
      span Want to deactivate your account?&nbsp;
      a(href='/users/deactivate') click
    .sub-section
      | email:&nbsp;
      -var email = 'support+' + appType + '@raysoda.com'
      a(href='mailto:' + email)= email 
