extends ../layout/layout

block title
  title Company - #{appName}

block content

    .section.page-title
      h1 Company

    .section
      | RaySoda, Inc.
      br
      | Founded 2003.03.01
      br
      | Business Registration Number 211-87-29758
      br
      | Korea
      br
      br

      |*
      br
      br
      | Heung IL Lee, CEO
      br
      br
      | Kyuhyun Park, Developer
      br
      a(href='https://github.com/drypot/about', target='_blank') https://github.com/drypot/about
      br
      br

      |*
      br
      br
      | Services
      br
      a(href='http://raysoda.com', target='_blank') http://raysoda.com
      br
      a(href='https://rapixel.com', target='_blank') https://rapixel.com
      br
      a(href='https://osoky.com', target='_blank') https://osoky.com
      br
