extends ../layout/layout

block head-title
  title Deactivate My Account - #{appName}

block content
  script.
    $(function () {
      userl.initDeactivate();
    });

  .section.page-title
    h1 Deactivate My Account

  .section
    .sub-section
      | YOU CAN NOT LOGIN AGAIN.
      br
      | IMAGES ARE NOT DELETED AUTOMATICALLY.
      br
      | DELETE YOUR IMAGES FIRST.

    .sub-section
      button#dea-btn.btn.btn-danger Deactivate My Account
      button#dea-confirm-btn.btn.btn-danger.hide Yes, Deactivate