extends ../layout/layout

block head-title
  title Register - #{appName}

block content
  script.
    $(function () {
      userl.initRegister();
    });

  .section.page-title
    h1 Register

  .section
    form.main
      .sub-section
        .form-group
          label.control-label Name
          input.form-control(name='name', type='text', maxlength=32)
        .form-group
          label.control-label Email
          input.form-control(name='email', type='text', maxlength=64)
        .form-group
          label.control-label Password
          input.form-control(name='password', type='password', maxlength=64)
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='Sending') Register
