extends ../layout/layout

block title
  title Error - #{appName}

block content

  .section.page-title
    h1 Error

  .section
    pre.error-report
      if err.code
        | #{'Code: ' + err.code}
        br
      if err.stack
        | !{err.stack.replace(/\n/g, '<br>')}
