extends layout

block title
	title Help - #{appName}

block content

	.side-space
		.page-header
			h1 Help

		p.card
			span How to deactivate my account?&nbsp;
			a(href='/users/deactivate') click
		p.card
			| email:&nbsp;
			a(href='mailto:support+rapixel@raysoda.com') support+rapixel@raysoda.com
			br
			| twitter:&nbsp;
			a(href='https://twitter.com/drypot', target='_blank') https://twitter.com/drypot
			| &nbsp;(developer's personal)
