extends layout

block title
	title Privacy Policy - #{siteTitle}

block content

	.container
		.content
			.page-header
				h2 Privacy Policy

			h4.
				Your personal information is used for login only.
