extends layout

block title
	title Company - #{siteTitle}

block content

	.container
		.content

			.page-header
				h2 Company

			h4 RaySoda, Inc.

			h4 Heung IL Lee, CEO

			h4 Kyuhyun Park, Developer

			h4 Founded 2003-03-01

			h4 Business Registration Number 211-87-29758

			h4 Korea