extends layout

block title
	title Services - #{appName}

block content

	.side-space
		.page-header
			h1 Services

		p.card
			a(href="https://osoky.com", target="_blank") https://osoky.com
			br
			a(href="https://rapixel.com", target="_blank") https://rapixel.com
			br
			a(href="http://raysoda.com", target="_blank") http://raysoda.com
