extends layout

block title
	title Help - #{siteTitle}

block content

	.container
		.content
			.page-header
				h2 Help

			h4 twitter:&nbsp;
				a(href='https://twitter.com/drypot') https://twitter.com/drypot
			h4 email:&nbsp;
				a(href='mailto:support+rapixel@raysoda.com') support+rapixel@raysoda.com
