extends layout

block title
	title 회사 - #{siteTitle}

block content

	#content.container

		.page-header
			h2 회사

		h3 법인명
		p (주)레이소다

		h3 대표
		p 이흥일

		h3 설립일
		p 2003 년 3 월 1 일

		h3 주요서비스
		p
			a(href="http://www.raysoda.com") http://www.raysoda.com
			br
			a(href="https://rapixel.com") https://rapixel.com

		h3 사업자등록번호
		p 211-87-29758