extends layout

block title
	title Error - #{appName}

block content

	.side-space
		.page-header
			h1 Error

		p.card
			if err.message
				| #{err.message}
			else
				| Unknown Error

		pre.error-report
			if err.rc
				| #{'Code: ' + err.rc}
				br
			if err.stack
				| !{err.stack.replace(/\n/g, '<br>')}
