!!! 5
html
	head
		meta(charset="utf-8")

		block title

		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")

		link(rel="shortcut icon", href="/image/favicon1.ico", type="image/x-icon")

		link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/base.css")

		script(src="/lib/json2.js")
		script(src="/lib/jquery-1.9.1.min.js")
		script(src='/lib/jquery.iframe-transport.js')
		script(src="/lib/bootstrap/js/bootstrap.min.js")
		script(src="/lib/superagent.js")

		if locals.user
			script
				window.user = !{JSON.stringify({ name: user.name })};

		script(src="/js/base.js")
		script(src="/js/ui.js")
		script(src="/js/session.js")
		script(src="/js/photo.js")

	if !locals.photoView
		body
			.container
				.navbar.limit-width
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/")= siteTitle
					.nav-collapse.collapse.navbar-responsive-collapse
						ul.nav.navbar-nav.pull-right
							if locals.user
								li: a(href="/photos/new") Upload
								li: a(href="/users/" + user._id) Profile
								li: a#logout-btn(href="/users/logout") Logout
							else
								li: a(href="/users/login") Login
								li: a(href="/users/register") Register

		block content

		.container(style='margin-top:30px')
			.content
				hr
				ul.list-inline
					li: a(href="/company") Company
					li: a(href="/privacy") Privacy
					li: a(href="/help") Help

	else
		body.photo-view
		block content

	#error-modal.modal
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
						h3.modal-title Modal title
					.modal-body
					.modal-footer
						a.btn.btn-primary(data-dismiss="modal") Close

	#file-input-templ.hide
		.file
			div(style='width: 0px; height: 0px;')
				input(type='file', multiple='multiple')
			.input-group
				input(type='text', disabled)
				span.input-group-btn
					button.btn.btn-default File

	#file-input-templ-msie.hide
		.file
			input(type='file')
