!!! 5
html
	head
		meta(charset="utf-8")

		block title

		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")

		link(rel="shortcut icon", href="/image/favicon1.ico", type="image/x-icon")

		link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/base.css")

		script(src="/lib/es5-shim.min.js")
		script(src="/lib/json2.js")
		script(src="/lib/jquery.min.js")
		//script(src="/lib/jquery.simpleplaceholder.js")
		script(src="/lib/bootstrap/js/bootstrap.min.js")
		script(src="/lib/superagent.js")
		script(src="/lib/spin.min.js")
		script(src="/lib/URI.js")

		script(src="/js/base.js")
		script(src="/js/ui.js")
		script(src="/js/auth.js")
		//script(src="/js/post.js")
		//script(src="/js/search.js")

	body
		// navbar
		.navbar
			.container
				button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/")= siteTitle
				.nav-collapse.collapse.navbar-responsive-collapse
					ul.nav
						//li: a(href="/photos") Photos
						//li: a(href="/upload") Upload
						if locals.user
							li: a(href="javascript:session.logout(); return false;") Logout

		block content

		.container(style="margin-top:50px")
			hr
			ul.list-unstyled
				li: a(href="/company") 회사
				li: a(href="/privacy") 개인정보취급방침
				li: a(href="/help") Help


		#error-modal.modal
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
						h3.modal-title Modal title
					.modal-body
					.modal-footer
						a.btn.btn-primary(data-dismiss="modal") Close