extends layout

block title
	title Upload - #{siteTitle}

block content
	script
		init.add(function() {
			photo.initNewForm();
		});

	.container
		.content
			.page-header
				h2 Upload

			form#new-form(action="/api/photos", method="post", enctype="multipart/form-data")
				.form-row.clearfix
					label.control-label Photo
					.files
				.form-row
					label Comment
					textarea(name='comment', rows=7)
				.form-action
					button.btn.btn-primary(name='send') Send
					button.btn.btn-default.disabled.hide(name='sending') Sending

			div(style='margin-top:50px; font-size:18px').
					하루 한번 업로드하실 수 있습니다.<br>
					<br>
					본인이 촬영한 사진만<br>
					저작권, 초상권등 법률적인 문제가 없는 사진만<br>
					10MB 이하 사진만<br>
					세로 2160 픽셀 이상 사진만<br>
					16:9 비율 사진만 업로드하실 수 있습니다.<br>
					<br>
					업로드된 이미지는 다양한 기기로 송출될 수 있습니다.<br>
					운영자의 판단에 따라 사진이 삭제될 수 있습니다.

			//(style="margin-bottom: 30px;")

