extends layout

block title
	title Upload - #{appName}

block content

	.side-space
		.page-header
			h1 Upload

		if hours > 0
			p.card
				| One photo a day.
				br
				| You can upload after #{hours} hours.

		else
			script
				init.add(function() {
					photol.initNewForm();
				});

			form#form
				.form-row.file-group
					label.control-label Photo
					.files.col-lg-7
				.form-row
					label Comment
					textarea(name='comment', rows=7)
				.form-btns
					.send-panel
						button.btn.btn-primary(name='send') Send
					.sending-panel.hide
						button.btn.btn-default.disabled(name='sending') Sending

				.form-comments
					p.card
						| Image must be bigger than 3840x2160 pixels.
						br
						| Recommended sizes are 5120x2880~ and 3840x2160~.
						br
						| Max file size is 10MB.
						br
						| Image will be cropped to 16:9 automatically.
						br
						| You must be copyright owner.
