extends layout

block title
	title 개인정보취급방침 - #{siteTitle}

block content

	#content.container

		.page-header
			h2 개인정보취급방침

		p
			| (주)레이소다는 (이하 '회사'는) 개인정보취급방침을 통하여
			| 회원이 제공하는 개인정보가 어떠한 목적과 방식으로 이용되는지 알려드립니다.

		h3 수집하는 개인정보 항목
		p
			| 회사는 회원가입등을 위해 이메일, 비밀번호를 수집하고 있습니다.

		h3 개인정보의 수집 및 이용목적
		p
			| 회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.
			br
			| 본인확인, 고지사항 전달

		h3	개인정보의 보유 및 이용기간
		p
			| 개인정보는 사이트가 운영되는 동안 영구 보존됩니다.

		h3	개인정보의 파기절차 및 방법
		p
			| 회사는 개인정보를 변조하거나 파기하지 않습니다.

		h3	개인정보 제공
		p
			| 회사는 이용자의 개인정보를 외부에 제공하지 않습니다.
			br
			| 다만 법령에 정해진 절차와 방법에 따라 국가기관이 요구하는 경우에는 예외로 합니다.

		h3	이용자 및 법정대리인의 권리와 그 행사방법
		p
			| 이용자는 언제든지 등록되어 있는 자신의 개인정보를 수정할 수 있으며
			br
			| 서비스사용중지를 요청할 수 있습니다.

		h3	개인정보 수정
		p
			| 개발중

		h3	서비스사용중지
		p
			| 서비스를 사용하시게 되면 시스템의 여기 저기에 사용 자국이 남기 때문에
			br
			| 한번 생성된 계정의 완전 삭제가 어렵습니다.
			br
			br
			| 서비스사용중지란 해당 계정의 개인 일면에 계정이 사용중지 되었음을 표시하고
			br
			| 해당 계정으로 더이상 로그인되지 않는 것을 말합니다.
			br
			br
			| 등록하셨던 게시물들은 운영진이 대리 삭제해 드리지 않습니다.
			br
			| 게시 중지를 원하시는 게시물들은 사용중지 신청 전에 미리 삭제를 부탁 드립니다.

		h3	기타 문의
		p
			| twitter: drypot
			br
			| email: support@raysoda.com

