extends layout

block title
	title Deactivate My Account - #{appName}

block content
	script
		init.add(function () {
			userl.initDeactivate();
		});

	.side-space
		.page-header
			h2 Deactivate My Account

		.bottom-space
			h4 YOU CAN NOT LOGIN AGAIN.
			h4 PHOTOS ARE NOT DELETED AUTOMATICALLY.
			h4 DELETE YOUR PHOTOS FIRST.

		button#dea-btn.btn.btn-danger Deactivate My Account
		button#dea-confirm-btn.btn.btn-danger.hide Yes, Deactivate