extends layout

block title
	title Register - #{appName}

block content
	script
		init.add(function () {
			userl.initRegister();
		});

	.side-space
		.section.page-title
			h1 Register

		form#form.section
			.sub-section
				.form-row
					label.control-label Name
					input.input-with-feedback(name="name", type="text", maxlength=32)
				.form-row
					label.control-label Email
					input.input-with-feedback(name="email", type="text", maxlength=64)
				.form-row
					label.control-label Password
					input.input-with-feedback(name="password", type="password", maxlength=64)
			.sub-section
				.send-panel
					button.btn.btn-primary(name='send') Send
				.sending-panel.hide
					button.btn.btn-default.disabled(name='sending') Sending
