extends layout

block title
	title Reset Password - #{appName}

block content
	script
		init.add(function () {
			userl.initResetReq();
		});

	.side-space
		.page-header
			h1 Reset Password

		if query.hasOwnProperty('done')
			p.card
				| Check your mailbox.
		else
			#form-panel
				form#form
					.form-row
						label.control-label Email
						input.input-with-feedback.col-lg-5(name="email", type="text")
					.form-btns
						.send-panel
							button.btn.btn-primary(name='send') Send
						.sending-panel.hide
							button.btn.btn-default.disabled(name='sending') Sending
