extends layout

block title
	title Register - #{appName}

block content
	script
		init.add(function () {
			userl.initRegister();
		});

	.side-space
		.page-header
			h1 Register

		form#form
			.form-row
				label.control-label Name
				input.input-with-feedback.col-lg-5(name="name", type="text", maxlength=32)
			.form-row
				label.control-label Email
				input.input-with-feedback.col-lg-5(name="email", type="text", maxlength=64)
			.form-row
				label.control-label Password
				input.input-with-feedback.col-lg-5(name="password", type="password", maxlength=64)
			.form-btns
				.send-panel
					button.btn.btn-primary(name='send') Send
				.sending-panel.hide
					button.btn.btn-default.disabled(name='sending') Sending
