extends layout

block title
	title Login - #{appName}

block content
	script
		init.add(function () {
			userl.initLogin();
		});

	.side-space
		if query.hasOwnProperty('newuser')
			.page-header
				h1 Thank you

			p.card
				| 회원으로 가입되셨습니다.
				br
				| 등록하신 이메일과 비밀번호로 로그인하실 수 있습니다.

		.page-header
			h1 Login

		form#form
			.form-row
				label.control-label Email
				input.input-with-feedback.col-lg-5(name="email", type="text")
			.form-row
				label.control-label Password
				input.input-with-feedback.col-lg-5(name="password", type="password")
			.checkbox
				label Remember
				input(name="remember", type="checkbox")
			.form-btns
				.send-panel
					button.btn.btn-primary(name='send') Send
				.sending-panel.hide
					button.btn.btn-default.disabled(name='sending') Sending

			.form-comments
				a(href='/users/reset-req') Reset Password