extends layout

block title
	title Password Reset - #{appName}

block content
	script
		init.add(function () {
			userl.initReset();
		});

	.side-space
		.page-header
			h1 Password Reset

		form#form
			.form-row
				label.control-label Password
				input.input-with-feedback(name="password", type="password")
			.btns
				.send-panel
					button.btn.btn-primary(name='send') Send
				.sending-panel.hide
					button.btn.btn-default.disabled(name='sending') Sending