extends ../layout/layout

block head-title
  title Help - #{appName}

block content

  .section.page-title
    h1 Help

  .section
    .sub-section
      span Want to deactivate your account?&nbsp;
      a(href='/users/deactivate') click
    .sub-section
      | support email:&nbsp;
      -var email = 'support+' + appNamel + '@raysoda.com'
      a(href='mailto:' + email)= email 
