.container {
  max-width: 640px;
  text-align: center;
}
.side-space {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.top-space {
  margin-top: 30px;
}
.bottom-space {
  margin-bottom: 30px;
}
.page-header {
  margin-top: 60px;
  margin-bottom: 55px;
  border: 0px;
  padding: 0px;
}
.page-header a {
  color: inherit;
}
.page-header a:hover {
  text-decoration: none;
}
.site-title h1 {
  margin-bottom: 10px;
  font-size: 53px;
}
.site-title p {
  font-size: 21px;
}
.update {
  margin-bottom: 22px;
}
.page-footer {
  margin-top: 55px;
  margin-bottom: 70px;
}
.page-footer a {
  color: inherit;
}
.page-footer ul {
  margin: 0px;
}
.page-footer ul li {
  padding-left: 0px;
  padding-right: 9px;
}
.page-footer .home {
  margin: 15px;
}
.page-footer .home a,
.page-footer .home a.hover {
  font-size: 28px;
  font-weight: 500;
}
p.card {
  font-size: 18px;
  line-height: 1.5;
}
.link-set a {
  padding-left: 10px;
  padding-right: 10px;
}
.pager-prev {
  margin-top: 65px;
  font-size: 18px;
  line-height: 1;
}
.photos {
  margin: 65px 0px 65px 0px;
}
.photos .photo {
  margin-bottom: 45px;
}
.photos .photo img {
  margin-bottom: 2px;
}
.photos .photo .info a {
  color: inherit;
}
@media (max-width: 768px) {
  .photos .photo {
    margin-bottom: 25px;
  }
}
.pager-next {
  margin-bottom: 65px;
  font-size: 18px;
  line-height: 1;
}
body.photo-view {
  text-align: center;
}
body.photo-view .photo-low {
  margin: 0px;
  margin-bottom: 8px;
}
body.photo-view .photo-low img {
  max-width: none;
}
body.photo-view .photo-hi {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
body.photo-view .photo-hi img {
  max-width: none;
}
body.photo-view .photo-info a {
  color: inherit;
}
body.photo-view .photo-info .name-and span {
  padding-left: 10px;
  padding-right: 10px;
}
body.photo-view .photo-info .comment {
  margin-top: 26px;
}
body.photo-view .photo-info .footer {
  margin-top: 26px;
}
form {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 50px;
}
form .form-row {
  margin-bottom: 10px;
}
form .form-row label {
  display: block;
}
form .file-group .files .file .hidden-input {
  position: absolute;
  top: -999px;
  width: 0px;
  height: 0px;
}
form .file-group .files .file button {
  width: 100%;
}
form p.error {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .alert {
  margin-bottom: 5px;
}
form textarea {
  font-family: monospace;
}
@media (max-width: 480px) {
  form {
    width: 100%;
    margin-left: 0%;
  }
}
.btn-mini {
  padding: 2px 6px;
  font-size: 14px;
}
.btns {
  margin-top: 36px;
  margin-bottom: 36px;
}
pre.error-report {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 0px;
  padding-top: 5px;
  border: 0;
  border-top: 1px solid #eeeeee;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  white-space: nowrap;
}
.modal-body p {
  white-space: nowrap;
  overflow: scroll;
}
