body {
  padding-bottom: 40px;
}
.page-header {
  border: 0;
  margin-bottom: 10px;
}
.submit-group {
  margin-top: 25px;
}
.photos {
  margin-top: 20px;
}
.photos .img {
  margin: 0px 20px 20px 0px;
  float: left;
}
.photos .desc {
  margin: 0px 20px 20px 0px;
  float: left;
}
.photo img {
  max-width: none;
}
