extends ../layout/layout

block title
  title Upload Test - #{appName}

block content

  .page-title
    h1 Upload Test

  script.
    $(function() {
      var $form = formty.getForm('form.main');
      formty.initFileGroup($form, 'files');
      $form.$send.click(function () {
        console.log('post start')
        formty.post('/api/upload-test', $form, { extra1: '1234' }, function (err, res) {
          console.log('res.body');
          console.log(res.body);
          console.log('post done');
        });
        return false;
      });
    });

  form.main
    .sub-section
      .form-group
        label Image
        .file-group
      .form-group
        label Comment
        textarea.form-control(name='comment', rows=7)
    .sub-section
      button.btn.btn-primary(name='send', data-loading-text='Sending') Send
